/* visualizacao-honras */

main #honras-abertura h1 {
    color: #004D4D; /*#1e1e1e;*/
    font-family: "Bungee";
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 0;
}

/*main #honras-abertura h1 span {
    color: #80160D; 
}*/

main #honras-abertura p {
    color: #1e1e1e;
    font-family: "Merriweather Sans";
    text-align: center;
    font-weight: 100;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 1.5rem auto 2rem auto;
    max-width: 400px;
}

section#vis-honras-scrolly {
    max-width: 680px;
    margin: 0 auto;
    font-family: "Merriweather Sans";
}

section#vis-honras-scrolly > div.scrolly {
    position: relative;
    display: unset;
}

div.scrolly article {
    position: relative;
    max-width: 380px;
    margin: 0 auto;
}

div.scrolly .container-vis-honras {
    position: sticky;
    top: 20px;
    z-index: -1;
    margin: 0;
    width: 100%;
}

div.scrolly svg#vis-honras .axis line,
div.scrolly svg#vis-honras .axis path {
    stroke: #555;
}

div.scrolly svg#vis-honras .axis text {
    font-family: "Merriweather Sans";
    font-weight: 100;
    color: #555;
}

div.scrolly svg#vis-honras path.honras-arco-anotacao {
    fill: none;
    stroke: #333;
    stroke-dasharray: 2;
    stroke-width: 1;
}

/*
div.scrolly svg#vis-honras rect.honras-retangulo-cortina {
    fill: var(--bg-color);
}*/

/* esses rotulos aqui vão ser criados pelo D3 */
div.scrolly .container-vis-honras p.labels-honras {
    position: absolute;
    font-family: "Merriweather Sans";
    font-size: .7rem;
    margin: 0;
    font-style: italic;
}

/*div.scrolly .container-vis-honras p.d3-honras-ptos-totais-ano {
    font-style: normal;
}*/

div.scrolly .container-vis-honras .subtotais {
    position: absolute;
    font-family: "Merriweather Sans";
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

div.scrolly .container-vis-honras .subtotais.subtotais-tipo,
div.scrolly .container-vis-honras .subtotais.subtotais-estados,
div.scrolly .container-vis-honras .subtotais.subtotais-credores {
    font-size: 0.7rem;
}

div.scrolly .container-vis-honras .subtotais p {
    margin: 0;
}

div.scrolly .container-vis-honras .subtotais p.labels-honras-valor {
    margin: 0;
    font-weight: normal;
}

div.scrolly .container-vis-honras div.rotulos-endiv > p,
div.scrolly .container-vis-honras .rotulos-barrinhas {
    margin: 0;
}

div.scrolly article .honras-steps {
    /*height: var(--altura-endiv); /* ficou bem melhor assim fixo. usar css-var? 50vh*/
    opacity: 1;
    padding: 100px 0px;
}

div.scrolly article .honras-steps:first-child {
    padding-top: 0px;
}

div.scrolly article .honras-steps p {
    box-shadow: 2px 2px 5px #888;
    background-color: ghostwhite;
    padding: 20px;
    font-weight: 100;
    font-size: 0.85rem;
    margin: 0 1em;
    line-height: 1.6;
}

div.scrolly .honras-steps.step-ativo {
    opacity: 0.8;
    /*background-color: goldenrod;*/
}

@media (max-width: 400px) {
    div.scrolly .container-vis-honras .subtotais.subtotais-estados,
    div.scrolly .container-vis-honras .subtotais.subtotais-credores {
        font-size: 0.5rem;
    }
}