
/* Variáveis */

:root {
    --text-color: #444;
    --bg-color: #FAFFFF;
    --main-font: 
    /* cores gráfico endividamento */
    --barra-inativa: #444;
    --barra-ativa: goldenrod;
    /*--altura-endiv: 500px;*/
}

/* Estilo geral */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FAFFFF; /* lightcyan */
    color: #444;
    /*font-size: 0.9rem;*/
}

header.logo {
    width: 100%;
    background-color: #004D4D;
    padding: 10px;
    box-shadow: 0 0 5px 1px #004D4D;
    margin: 0;
}

header img.logo-tt {
    /*position: absolute;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*left: 0;
    right: 0;
    top: 20px;*/
}

.limited-width {
    max-width: 680px;
    margin: 0 auto;    
}

main {
    padding: 0 5px;
    font-family: 'Merriweather', sans-serif;
}

main header#abertura h1 {
    font-family: 'Bungee', serif;
    text-align: center;
    font-size: 3.5rem;
    color: #80160D; /*#E32C10; teal*/
    line-height: 1.3;
    /*text-shadow: 2px 2px 2px #E69E73;*/
    margin-bottom: 0;
    margin-top: 3rem;
}

main header#abertura p {
    font-family: 'Fira Code', serif;
    font-weight: 100;
    text-align: center;
    font-size: 1rem;
    color: #004D4D; /*#E32C10; teal*/
    line-height: 1.5;
    margin: 2rem auto 2rem auto;
    max-width: 400px;
}

main header#abertura p.riscado {
    text-decoration: line-through;
    margin-bottom: 0;

}

/* fiz isso aqui abaixo para o highlight ficar um pouco mais estreito */

section.prose {
    color: #444;
    line-height: 1.5;
    padding: 0 0.5rem;
}

section.prose h2 {
    color: #004D4D;
}

section.prose div.container-grupo-com-quadro {
    position: relative; /* isso para o aside, que é filho e está com position: absolute, ser posicionado relativo a este div!*/
}

section.prose span.termo-destaque-lateral {
    background-color: #D1E8E1;
}

section.prose aside.conteudo-destaque-lateral {
    position: absolute;
    font-weight: lighter;
    font-family: "Merriweather Sans";
    right: calc(50% - 340px - 200px - 20px);
    width: 200px;
    font-size: 12px;
    background-color: #D1E8E1;
    padding: 10px;
    top: 0; /*só funciona se o pai for relative */
}

section.prose aside.conteudo-destaque-lateral.left {
    position: absolute;
    font-weight: lighter;
    left: calc(50% - 340px - 200px - 20px);
    width: 200px;
    font-size: 12px;
    background-color: #D1E8E1;
    padding: 10px;
    top: 0; /*só funciona se o pai for relative */
}

section.prose aside.conteudo-destaque-lateral h4 {
    margin-top: 0;
}

section.prose figure.plot-container {
    margin: 0;
}

section.prose figure.plot-container img {
    display: block;
    width: 60%;
    margin: auto;
}

section.prose figure.plot-container h3.plot-title,
section.quadro div.mini-header h3 {
    border-left: 5px solid #80160D;
    padding-left: 15px;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

section.prose p.nota {
    font-family: "Merriweather Sans";
    font-size: 0.7rem;
    color: #888;
}

section.prose p.nota a {
    text-decoration: none;
    border-bottom: 1px solid #888;
}

section.prose p.nota a:visited {
    color: #888;
    text-decoration: none;
    border-bottom: 1px solid #888;
}

section.prose p.nota a:hover{
    color: #FCFBFA;
    background-color: #888;

}

section.vis {
    max-width: 900px;
    margin: 0 auto;
}

section.vis nav.controle-vis {
    display: flex;
    justify-content: center;
}

section.vis nav.controle-vis button {
    padding: 0.4em 0.5em;
    margin-right: 0.5em;
    background: none;
    border: none;
    border-bottom: 5px solid transparent;;
    font-family: "Merriweather Sans", sans-serif;
}

section.vis nav.controle-vis button:focus {
    outline: none;
}


section.vis nav.controle-vis button.selected {
    border-bottom: 5px solid #004D4D;
    color: #004D4D;
    font-weight: bold;
}

section.vis nav.controle-vis button:hover {
    border-bottom: 5px solid #004D4D;
}

section.vis div.grafico-d3-container {
    position: relative;
}

section.vis div.grafico-d3-container .label {
    position: absolute;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}

section.vis div.grafico-d3-container .label p {
    margin: 0 0 .25em 0;
}

section.vis div.grafico-d3-container .label p.valor,
section.vis div.grafico-d3-container .label p.tipo,
section.vis div.grafico-d3-container .label .texto-rank  {
    font-size: 0.7em;
}

section.vis div.grafico-d3-container #tooltip {
    position: absolute;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 10px;
    width: 180px;
    height: auto;
    background-color: ghostwhite;
    color: #004D4D;
    border: 1px solid #004D4D;
    padding: 3px 6px;
    box-shadow: 2px 2px 5px #888;
    pointer-events: none;   
    z-index: 1; 
}

/* /////////////////////////////////////////////////// */
/* Quadro */

/*
section.quadro div.mini-header h2 {
    border-left: 5px solid #004D4D;
    padding: 5px 0px 5px 10px;
    font-size: 1rem;
    color: #004D4D;
    margin-bottom: 5px;
}*/

/*section.quadro div.mini-header p {
    font-size: 0.7rem;
}*/

section.quadro div.selecao-entidades {
    display: flex;
    justify-content: center;
    margin: 2em 0;
    flex-wrap: wrap;
}

section.quadro div.selecao-entidades select {
    padding: 6px 12px;
    font-family: "Merriweather Sans";
    font-size: 0.75em;
    border-radius: 4px;
    margin: 1em 2em;
}
/*
section.quadro div.selecao-entidades select:first-child {
    margin-right: 2em;
}
*/

section.quadro p.container-titulo-card {
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 0.8rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Merriweather Sans";
}

section.quadro p.container-titulo-card span {
    border-width: 3px;
    padding: 10px;
    color: #FAFFFF;
}

section.quadro div.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    border: 3px solid #999;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

section.quadro table {
    font-size: 0.75rem;
    border-collapse: collapse;
    color: #444;
    margin: 0;
    width: 300px;
}

section.quadro table th {
    text-align: left;
    font-weight: normal;
}

section.quadro table td {
    text-align: right;
}

section.quadro table td {
    font-family: "Fira Code";
}

section.quadro table th.indent{
    padding-left: 1rem;
}

section.quadro table td,
section.quadro table th {
    padding: 0.25rem;
}

section.quadro table tr.destaque td,
section.quadro table tr.destaque th{
    font-weight: bold;
}

section.quadro table tr.border-under{
    border-bottom: 3px solid #d0d0d0;
}

section.quadro table .space-under>td,
section.quadro table .space-under>th {
    padding-bottom: 1rem;
}

section.quadro table .space-above>td,
section.quadro table .space-above>th {
    padding-top: 1rem;
}

section.quadro .area-grafico {
    flex-grow: 1;
    min-width: 300px;
}

section.quadro .area-grafico p {
    font-size: 0.75rem;
    margin: 0 0 10px 80px;
    padding-top: 0.25rem;

}

section.quadro .container-svg-card {
    position: relative;
}

section.quadro .container-svg-card p.y-label {
    position: absolute;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    font-size: 0.65rem;
    font-family: "Merriweather Sans";
}

section.quadro .container-svg-card p.rotulos {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 0.65rem;
    font-family: "Merriweather Sans";
    text-align: left;
}

/* tabela de contratos */

section.quadro .lista-projetos {
    position: relative;
}

section.quadro .lista-projetos table {
    width: 100%;
}

section.quadro .lista-projetos thead {
    font-family: "Merriweather Sans"; /*devia usar variaveis aqui*/
    font-size: 0.65rem;
    border-bottom: 1px solid #d0d0d0;
    vertical-align: bottom;
}

section.quadro .lista-projetos thead th {
    font-weight: bold;
}

section.quadro .lista-projetos tbody td {
    text-align: left;
    font-size: 0.65rem;
}

section.quadro .lista-projetos tbody tr {
    border-bottom: 1px solid #d0d0d0;
}

section.quadro .lista-projetos tbody tr:nth-child(odd) {
    background-color: #D1E8E1; /*#e9e9e9;*/
}

section.quadro .lista-projetos tbody td.tab-projeto {
    min-width: 160px;
}

section.quadro .lista-projetos table .tab-credor,
section.quadro .lista-projetos table .tab-moeda,
section.quadro .lista-projetos table .tab-valor {
    text-align: right;
}



/* regras auxiliares */

.hidden {
    display: none;
}

.opaque {
    opacity: 0;
}

@media (max-width: 1080px) {
    section.prose aside.conteudo-destaque-lateral,
    section.prose aside.conteudo-destaque-lateral.left {
        position: static;
        right: auto;
        width: 100%;
        font-size: 13px;
        padding: 10px;
        margin-top: 18px;
    }
}

/* visualizacao-divida-entes */

section#vis-endividamento-scrolly {
    max-width: 980px;
    margin: 0 auto;
    font-family: "Merriweather Sans";
}

div.scrolly {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

div.scrolly > * {
    flex: 1;
}

div.scrolly article {
    position: relative;
    max-width: 380px;
}

div.scrolly .container-vis-endividamento {
    position: sticky;
    top: 20px;
    z-index: -1;
    /*height: var(--altura-endiv);*/
}

div.scrolly .container-vis-endividamento figure {
    margin: 0;
    width: 100%;
}

/* esses rotulos aqui vão ser criados pelo D3 */
div.scrolly .container-vis-endividamento div.rotulos-endiv,
div.scrolly .container-vis-endividamento .rotulos-eixo-endiv,
div.scrolly .container-vis-endividamento .rotulos-barrinhas {
    position: absolute;
    font-size: 0.6rem;
}

div.scrolly .container-vis-endividamento div.rotulos-endiv > p,
div.scrolly .container-vis-endividamento .rotulos-barrinhas {
    margin: 0;
}

div.scrolly article .endividamento-steps {
    /*height: var(--altura-endiv); /* ficou bem melhor assim fixo. usar css-var? 50vh*/
    opacity: 0;
    padding: 100px 0px;
}

div.scrolly article .endividamento-steps:first-child {
    padding-top: 0px;
}

div.scrolly article .endividamento-steps p {
    box-shadow: 2px 2px 5px #888;
    background-color: ghostwhite;
    padding: 20px;
    font-weight: 100;
    font-size: 0.85rem;
    margin: 0 1em;
    line-height: 1.6;
}

div.scrolly .endividamento-steps.step-ativo {
    opacity: 0.8;
    /*background-color: goldenrod;*/
}

@media (max-width: 880px) {
    div.scrolly {
        display: unset;
    }
}

/* visualizacao-honras */

section#vis-honras-scrolly {
    max-width: 680px;
    margin: 0 auto;
    font-family: "Merriweather Sans";
}

section#vis-honras-scrolly > div.scrolly {
    position: relative;
    display: unset;
}

div.scrolly article {
    position: relative;
    max-width: 380px;
    margin: 0 auto;
}

div.scrolly .container-vis-honras {
    position: sticky;
    top: 20px;
    z-index: -1;
    margin: 0;
    width: 100%;
}

/* esses rotulos aqui vão ser criados pelo D3 */
div.scrolly .container-vis-honras div.rotulos-endiv,
div.scrolly .container-vis-honras .rotulos-eixo-endiv,
div.scrolly .container-vis-honras .rotulos-barrinhas {
    position: absolute;
    font-size: 0.6rem;
}

div.scrolly .container-vis-honras div.rotulos-endiv > p,
div.scrolly .container-vis-honras .rotulos-barrinhas {
    margin: 0;
}

div.scrolly article .honras-steps {
    /*height: var(--altura-endiv); /* ficou bem melhor assim fixo. usar css-var? 50vh*/
    opacity: 1;
    padding: 100px 0px;
}

div.scrolly article .honras-steps:first-child {
    padding-top: 0px;
}

div.scrolly article .honras-steps p {
    box-shadow: 2px 2px 5px #888;
    background-color: ghostwhite;
    padding: 20px;
    font-weight: 100;
    font-size: 0.85rem;
    margin: 0 1em;
    line-height: 1.6;
}

div.scrolly .honras-steps.step-ativo {
    opacity: 0.8;
    /*background-color: goldenrod;*/
}
